<% unless current_user.name == "guestuser" %>
  <% if image.question_favorited_by?(current_user) %>
    <%= link_to question_question_favorites_path(image), method: :delete do %>
      ♥<%= image.question_favorites.count %>
    <% end %>
  <% else %>
    <%= link_to question_question_favorites_path(image), method: :post do %>
     ♡<%= image.question_favorites.count %>
    <% end %>
  </p>
  <% end %>
<% end %>