<!--ヘッター-->
<%= render 'layouts/header' %>
<!--カテゴリ-->
<%= render "layouts/side", post_categories: @post_categories, question_categories: @question_categories %>
<h1>質問編集</h1>
<!--フッター-->
<%= render 'layouts/footer' %>