/*初期設定*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*全体*/
body{
 padding-top:30px;/* ヘッダーと同じ高さ */
 background-color: #F5F6F6;
 margin: 0;
}

/*ヘッダー*/
header{
  background-color:#009DA7;
}

.navbar-dark .navbar-toggler{
  /* 枠線 */
  border-color: rgba(212, 108, 228, 1);
}

.wrap{
	list-style: none;
	padding-left: 0;
	display: flex;
	flex-wrap: wrap;
}
/*フォント*/
header, nav{
  font-family: fangsong;
}

/*index画面*/
.index-image img{
 width: 280px;
 height:208px;
 object-fit: cover;
}


/*繰り返しの動き*/
.image-warp{
  display: flex;
  flex-wrap: wrap;
}

/*show画面&news画面*/
.show-image img{
 width: 420px;
 height:312px;
 object-fit: cover;
}


.hashtag-name {
  display: inline-block;
}

/*top*/
/*top画像*/
.top-image img{
  width: 100%;
  height: auto;
  display: block;
}
/*logo*/
.logo-image img{
  width: 100%;
  height: auto;
  display: block;
}

/*一覧*/
.tag-category{
 display: inline-block;
}





/*ヘッダー下部分*/
.bar{
 background-color:#249786;
 height:70px;
 width: auto;
}

.top img {
  width:100%;
  height:400px;
  object-fit: cover;
}

.header{
  width:100%;
  height:100%;
  object-fit: cover;
}

.background {
 background-color: #24A28E;
 width: auto;
 height: auto;
}
.user{
 width: 80px;
 height:80px;
 object-fit: cover;
}
.icon{
 width: 30px;
 height:30px;
 object-fit: cover;
 background-color: #999;
}

.img-container img {
  object-fit: cover;
}
.link {
 text-decoration: none !important;;
}

.post{
 display: flex;
}

.warp {
  display: flex;
  flex-wrap: wrap;
}

.side-text{
 padding-left: 50px;
}

.select {
  display: inline-block;
  position: relative;
  border: 1px solid #eee;
  vertical-align: middle;
}

select {
  appearance: none;
  width: 100px;
  height: 35px;
  padding: 2px 2px;
  padding-right: 1em;
  border: none;
  outline: 1;
  background: #fff;
  background-image: none;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  cursor: pointer;
}


/*タブレット表示時*/
@media (max-width: 1000px) {

/*タブレット時,一覧画像 */
.index-image img{
 width:280px;
 height:208px;
 object-fit: cover;
}


  header {
    width: 100%;
    height: 20px;
  }

  body{
    width: 100%;
    display: block;
  }

.top-image img{
  width: 100%;
  height:auto;
 }

.logo-image img{
  width: 100%;
  height:auto;
 }

.tag-category{
 display: inline-block;
}

header{
   width: auto;
   height: 200%;
   display: block;
}
.bar{
   width: auto;
   height: 200%;
   display: inline-block;
}

}

/*スマホ表示時*/
@media (max-width: 500px) {
/*一覧画像*/
.index-image img{
 width:175px;
 height:135px;
 object-fit: cover;
}


}