.background {
 background-color: #ECECEC;
 width: auto;
 height: 100vh;
 /*水玉*/
 /*background-image:radial-gradient(#ffffff 30%, transparent 30%);*/
 /*水玉の大きさ*/
 /*background-size: 10px 10px;*/
}
.plant-color{
 background-color: #ECECEC;
 width: 100vw;
}