<% unless current_user.name == "guestuser" %>
  <% if question.question_favorited_by?(current_user) %>
    <%= link_to question_question_favorites_path(question), method: :delete, remote: true, class:"text-warning text-decoration-none" do %>
      ♥
    <% end %>
  <% else %>
    <%= link_to question_question_favorites_path(question), method: :post, remote: true, class:"text-secondary text-decoration-none" do %>
     ♡
    <% end %>
  </p>
  <% end %>
<% end %>