<!--ヘッター-->
<%= render 'layouts/header' %>
<!--カテゴリ-->
<%= render "layouts/side", post_categories: @post_categories, question_categories: @question_categories %>
<h1>ユーザー一覧</h1>

  <% @users.each do |user| %>
    <%= image_tag user.get_profile_image(100,100) %>
    <%= user.name %>
    <p>投稿数</p>
    <p>質問数</p>
  <% end %>