 <% if object.errors.any? %>
   <ul>
   <%= object.errors.count %>件のエラーが発生しました
     <% object.errors.full_messages.each do |message| %>
       <li>
         <%= message %>
       </li>
     <% end %>
   </ul>
 <% end %>