<% if user_signed_in? %>
  <!--ユーザー-->
  <div class="col-md-2 list-unstyled px-4 ">
    <div class="border-end py-2 px-2 border border-secondary rounded">
    <p class="px-4 font-weight-bold">Hot!</p>
      <% hashtags.sort.reverse.each do |count| %>
         <% count[1].each do |hashtag| %>
           <p class="px-4">
             <%= link_to "##{hashtag.hashname}","/post_images/hashtag/#{hashtag.hashname}",date:{"turbolinks"=>false}, class: 'text-dark' %>
           </p>
         <% end %>
      <% end %>
      </div>
  </div>




<% else %>
  <!--管理者-->
  <div class="col-md-2 list-unstyled">
   <!--<h5 class="pb-2 px-4">Category</h5>-->
    <p class="pb-2 px-4">投稿カテゴリ</p>
      <% post_categories.each do |category| %>
        <li class="pb-2 px-4">
          <%= link_to category.post_category,admin_post_images_path(post_category: category.id), class: 'text-dark' %>
        </li>
      <% end %>

  </div>
<% end %>